body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgb(38, 37, 19);
  font-size: 12px;


}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;

}


/*
*
* TOP LEVEL NAVIGATION
*
*/

nav {
  width: 100%;
  height: 40px;
  line-height: 2.5;
  background-color: rgb(38, 37, 19);
  text-align: center;
  position: fixed;
  z-index: 2;
}

nav li {
  display: inline-block;
  font-size: 1rem;

}

nav a{
  color: white;
  text-decoration: none;
  padding: 24px;

}

ul {
  padding: 0;
  margin: 0;
}

/* MUST ADDRESS HOVER PROBLEM IN IOS */

nav a:hover {
  font-weight: 900;
  text-shadow: -1px -1px -1px;
  cursor: pointer;
}

.highlight {
  font-weight: 900;
  text-shadow: -1px -1px -1px;
  cursor: pointer;
}

/*======================================================= */
/* NAV REDUCED (MOBILE)*/
/*======================================================= */
@media screen and (max-width: 767px){
  .nav__full {
    display: none;
  }



.dropdown {
  position: absolute;
  z-index: 1;
  background-color: rgba(38, 37, 19, 3)
}

.dropdown li {
  display: none;
  text-align: left;
}

.dropdown__button:hover .dropdown li{
  display: block;
}

.hero {
  background: url('../img/dani_centered-640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero__header {
  position: absolute;
  top: 60vw;
  text-align: center;
}

}









/*======================================================= */
/* * NAV 768px -> 1000px */
/*======================================================= */

@media screen and (min-width: 768px){
  .nav__reduced {
    display: none;
  }
  nav {
    height: 6%;

  }

  nav li {
    font-size: 2em;
    padding: 1.5%;
    line-height: 1.5;
  }

  .hero {
    background: url('../img/dani-1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .hero__header {
    position: absolute;
    top: 45vw;
    text-align: center;
  }

}


/*
*
* Images
*
*/



/*
*
* Typography
*
*/

body {
  color: white;
}

h1 {
  font-size: 18vmin;
  z-index: 1;
}

.hero__subheader {
  font-size: 6vmin;
  z-index: 1;
}

h1, .hero__subheader {
  color: white;
  font-weight: 900;
  text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}

/*
*
* Sections
*
*/

section {
height: 100vh;
}


/*======================================================= */
/* * HOME MOBILE
/*======================================================= */




.bio {
  background-color: rgb(38, 37, 19);
  font-size: 0.9rem;
  font-size: 2.5vh;
  text-align: center;
  line-height: 1.8;
  padding-top: 20%;

  /*======================================================= */
  /* * HOME 768 --> 1000px
  /*======================================================= */




/* MUSIC */

}
.music {
  background-color: rgb(38, 37, 19);
  color: white;

}

.player {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.playlist {
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.playlist .song {
  font-size: 1.5em;
  font-size: 3vh;
  margin: 0;
  margin-top: 25px;
  padding-left: 10%;

}

.playlist .author {
  font-size: 0.7em;
  font-size: 1vh;
  padding-left: 10%;
  margin: 0;
  margin-bottom: 10px;
}

.progress__bar {
  background-color: grey;
  width: 80%;
  height: 6px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;

}

.progress {
  background-color: white;
  width: 0%;
  height: 6px;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  border-radius: 10px;
}

/* .button {
  visibility: hidden;
} */

.button:focus {
  outline: none;
}

.button__play {
  background-color: rgb(38, 37, 19);
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent white;


}

.button__pause {

  background-color: rgb(38, 37, 19);
  width: 74px;
  height: 74px;
  border-style: double;
  border-width: 0px 0px 0px 37px;
  border-color: white;
  /* margin-left: 10%; */

}

.contact {

  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;

  position: relative;
}

.contact {
  height:100vh;
  background-image: url('../img/dani_uw-1024.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


form {
  padding-top: 10%;
}

input, textarea {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  padding: 3%;
  border: 1px solid black;
  width: 60%;
}


#submit {
  font-size: 1.5em;
  color: white;
  font-weight: 900;
  text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
  background-color: transparent;
  border: 3px solid white;
  width: 50%;

}

/* .contact__form {
  height: 60vh;
  width: 100%;
  text-align: center;
  margin-top: 20px;

} */
